<!-- Footer Partial Template -->
<footer class="mastfoot mt-auto">
    <div class="inner">
        <p>Created By <a href="https://medium.com/@pkoulianos">@pkoulianos</a> <a href="https://twitter.com/PKoulianos"><img src="https://img.icons8.com/android/24/000000/twitter.png"></a></p>
    </div>
</footer>
